body {
    background-color: lightsteelblue;
}
#inline {
    display: inline-block;
    margin-right: 40px;
    margin-left: 39px;
    margin-top: 30px;
}
.heading {
    font-family: Andale Mono, monospace;
}
.imgcharc {
    width:286.5px;
    height:240px;
}
.picture {
    height: 350px;
    width: 600px;
}
background {
    opacity: 0.7;
}
