body {
    background-image: url("https://vxresource.files.wordpress.com/2010/07/scene01.jpg");
    background-size: 130% 250%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#inline {
    display: inline-block;
    margin-right: 40px;
    margin-left: 39px;
    margin-top: 30px;
}
.heading {
    font-family: Playfair Display, monospace;
    text-align: center;
    color: darkgreen;
    padding: 35px;
    border: 4px solid darkgreen; 
    background-color: rgba(228, 236, 228, 0.849);  
    
}
.imgcharc {
    width:286.5px;
    height:240px;
}
.picture {
    height: 400px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: black;
    font-family: Andale Mono, monospace;
    text-shadow: 2px 2px 8px white;
}
h2 {
    text-align: center;
    color: black;
    font-family: Andale Mono, monospace;
    text-shadow: 2px 2px 8px white;

}
#aboutusp {
    padding: 40px;
    width: 300px;
    background-color: rgba(228, 236, 228, 0.849);
    border: 6px solid grey; 
    font-size: 20px;
    font-family: Comic 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;

}
#beggingtext {
    padding: 40px;
    background-color: rgba(230, 235, 230, 0.753);
    border: 6px solid rgba(29, 77, 31, 0.747); 
    font-size: 20px;
}
iframe {
    display: block;
    width: 950px;
    height: 500px;
    margin: 0 auto;
    border: 0;
    align-content: center;
    border: 4px solid white;
}
.credits {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 8px white;
    background-color: rgba(230, 235, 230, 0.753);
    border: 3px solid rgba(29, 77, 31, 0.747);
}
