body {
    background-image: url("https://vxresource.files.wordpress.com/2010/07/scene01.jpg");
    background-size: 130% 250%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#inline {
    display: inline-block;
    margin-right: 40px;
    margin-left: 39px;
    margin-top: 30px;
}
.heading {
    font-family: Andale Mono, monospace;
    text-align: center;
    color: darkgreen
}
.imgcharc {
    width:286.5px;
    height:240px;
}
.picture {
    height: 400px;
    width: 600px;
}
h1 {
    text-align: center;
    color: darkgreen
}
h2 {
    text-align: center;
    color: darkgreen
}
p {
    color: black;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background: white
}